/*------------Untuk Tablet------------*/
@media all and (max-width: 1000px){
  header {
    width: 75%
  }
}

/*------------Untuk Smartphone------------*/
@media all and (max-width: 670px){
  header {
    width: 50%
  }
  .header-right{
    display: none;
  }
}